@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Philosopher', sans-serif;
}

a {
  text-decoration: none;
}

//================ REUSABLE BLOCK ===================//
//============== MENU ==========
.menu {
  padding: 200px 0;
  position: relative;

  &__container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
  }

  &__box {
  }

  &__subtitl {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #DC780B;
    opacity: 0.7;
    text-align: center;
  }

  &__title {
    font-weight: bold;
    font-size: 31.25px;
    line-height: 24px;
    color: #150C01;
    text-align: center;

  }

  &__desk {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #150C01;
    opacity: 0.7;
    text-align: center;
  }

  &__product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  &__card {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 75px 10px 10px 10px;
    width: 360px;

    &__box {
      padding: 0 25px 25px 25px;
    }

    &__words {
      display: flex;
      margin-top: 7px;

    }

    &__title {
      font-weight: bold;
      font-size: 25px;
      line-height: 24px;
      color: #150C01;
      width: 146px;
      margin-right: 125px;
    }

    &__svg {
      font-weight: bold;
      font-size: 25px;
      line-height: 24px;
      color: #150C01;
      width: 36px;
    }

    &__desk {
      font-size: 16px;
      line-height: 24px;
      color: #150C01;
      opacity: 0.7;
      width: 310px;
      margin: 20px 0;
    }

    &__items {
      display: flex;
    }

    &__button {
      margin-right: 186px;
    }
  }

  &__link{
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #DC780B;
    padding: 12px 30px;
    border: 1px solid #DC780B;
    box-sizing: border-box;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    right: 200px;
    margin: auto;
  }
}


//================== TAKE ===============
.take {
  padding: 73px 0;

  &__container {
    background: #FBF1E7;
    display: flex;
    align-items: center;
    height: 518px;
  }

  &__content {
    margin: 114px 0 129px 247px;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #DC780B;
    opacity: 0.7;
    margin-bottom: 5px;
  }

  &__title {
    font-weight: bold;
    font-size: 31.25px;
    line-height: 41px;
    color: #150C01;
    width: 534px;
  }

  &__desk {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #150C01;
    opacity: 0.7;
    width: 555px;
    margin: 29px 0 39px;
  }

  &__icons {
    display: flex;
  }

  &__apple {
    margin-right: 30px;
  }

  &__img {
    margin-left: 70px;
  }
}